<footer>
    <div class="f-info">
        <div class="f-info-logo">
            <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i><span class="heading">Travaasa</span></a>
        </div>
        <div class="f-info-links">
            <a href="/privacy" target="_blank">Privacy</a>
            <a href="/terms" target="_blank">Terms</a>
        </div>
        <div class="f-info-socials">
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram"></i> &nbsp; Instagram
            </a>
            <a href="https://www.facebook.com">
                <i class="fa-brands fa-square-facebook" target="_blank"></i> &nbsp; Facebook
            </a>
            <a href="https://www.linkedin.com">
                <i class="fa-brands fa-square-linkedin" target="_blank"></i> &nbsp; Linkedin
            </a>
            <a href="https://www.discord.com" target="_blank">
                <i class="fa-brands fa-discord"></i> &nbsp; Discord
            </a>
        </div>
    </div>
    <div class="f-info-brand"> &copy; Wanderer's Den Pvt. Ltd.</div>

</footer>