<% layout('/layouts/boilerplate')%>

    <div class="row mt-3">
        <div class="col-6 offset-3">
            <h2 class="col-6 offset-3">Login on Travaasa</h2>
            <form action="/login" method="POST" class="needs-validation" novalidate>

                <div class="mb-3 ">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control"
                        required id="username">
                    <div class="invalid-feedback">Username is required</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control"
                        required id="password">
                    <div class="invalid-feedback">Password is required</div>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-dark" type="submit">LOGIN</button>
                </div>
            </form>
        </div>
    </div>